.sidebar {
    width: 240px;
    background-color: var(--background-color);
    height: 100vh;
}

.sidebar-content {
    margin: 50px 55px;
}

.logo-link {
    text-decoration: none;
}

.logo-text {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.nav {
    margin-top: 120px;
}

.nav-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-item a {
    text-decoration: none;
    color: var(--text-default-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20.27px;
}

.nav-item a:hover, .nav-item a:active {
    color: var(--secondary-color);
}
.nav-item .is-active{
    color: var(--secondary-color);
}