.tab {
    border-bottom: 1px solid var(--gray-color-2);
}

.tab-wrap {
    display: flex;
    padding: 0px 20px;
    gap: 15px;
}

.tab-link {
    white-space: normal;
    display: inline-flex;
    overflow: hidden;
    vertical-align: top;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s linear 0s, border-bottom-color 0.2s linear 0s;
    height: 40px;
    line-height: 12px;
    cursor: pointer;
    background: transparent;
    border-width: 3px 0px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    font-weight: bold;
    font-size: 13px;
    color: #999999;
}

.tab-link:hover {
    color: var(--active-default-color);
}

.tab-active {
    color: var(--active-default-color);
}