@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-color:#FAFBFD;
    --base-color:#F7542E;
    --secondary-color:#090F31;

    --text-default-color:#9E9E9E;

    --gray-color:#4F4F4F;
    --gray-color-2:#E0E0E0;
    --text-primary-color:#FAFBFD;
}
.base-color{
    color:var(--base-color);
}
.secondary-color{
    color:var(--secondary-color);
}
.container-wrapper{
    display: flex;
}
.sidebar{
    width: 240px;
    background-color: var(--background-color);
    height: 100vh;
}
.sidebar-content{
    margin:50px 55px;
}
.logo-link{
    text-decoration: none;
}
.logo-text{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.nav{
    margin-top: 120px;
}
.nav-wrap{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.nav-item a{
    text-decoration: none;
    color: var(--text-default-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20.27px;
}
.nav-item a:hover,.nav-item a:active{
    color: var(--secondary-color);
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-header{
    margin: 53px 83px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.main-content{

}
.components{
    margin: 53px 83px;
}
.controls{
    margin-top: auto;
    height: 255px;
    border-top: 2px solid var(--gray-color-2);
    width: 100%;
}
.control-nav{
    border-bottom: 1px solid var(--gray-color-2);
}
.control-nav-wrap{
    display: flex;
}
.control-nav-link{
    white-space: normal;
    display: inline-flex;
    overflow: hidden;
    vertical-align: top;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px;
    transition: color 0.2s linear 0s, border-bottom-color 0.2s linear 0s;
    height: 40px;
    line-height: 12px;
    cursor: pointer;
    background: transparent;
    border-width: 3px 0px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    font-weight: bold;
    font-size: 13px;
    color: rgb(153, 153, 153);
}
.table-title{
    padding: 0 15px;
    font-weight: bold;
    font-size: 13px;
    color: rgb(153, 153, 153);
}
#table th{
    width: 100%;

}
.table-header{
    display: flex;
    justify-content: space-between;
}