.controls {
    overflow-y: scroll;
    height: calc(100% - var(--tab-height));
}

.table {
    border-collapse: collapse;
    border-spacing: 0px;
    color: #333333;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    width: 100%;
    margin: 0px;
}

.table th {
    color: rgba(51, 51, 51, 0.75);
    padding: 15px;
}

.table td {
    color: #333333;
    padding: 15px;
    font-weight: 600;
}

.table-row {
    border-top: 1px solid rgb(230, 230, 230);
    background: transparent;
}